@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #570df8;
  --color-secondary: #f000b8;
  --color-accent: #37cdbe;
  --color-neutral: #3d4451;
  --color-base-100: #ffffff;
}

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
